<button type="button" class="btn btn-outline-light btn-sm" @onclick="NavigateToAccountRegisterPage">Opret bruger</button>

@code {
    [Inject] protected NavigationManager NavigationManager { get; set; }

    private void NavigateToAccountRegisterPage()
    {
        NavigationManager.NavigateTo("/account/register");
    }
}
