@page "/"
@inherits IndexBase
@attribute [Authorize]
@*<h2 class="text-dark">@("Velkommen, " + _context.User.Identity.Name)</h2>*@
@*<h4 class="text-dark text-center">Velkommen til XPower Solutions!</h4>
<br />*@
<div class="card bg-primary page-layout">
    <br />
    <h2 class="text-dark text-center text-light">[STED NAVN]</h2>
    <br />
    <h5 class="text-dark text-center text-light">Totalt strømforbrug</h5>

    <div class="container">
        <div class="column">
            <h1 class="text-center text-light" style="font-weight: bold;">5</h1>
            <p class="text-center text-light">KW/H</p>
        </div>
        <div class="column">
            <h1 class="text-center text-light" style="font-weight: bold; color: red !important;">23</h1>
            <p class="text-center text-light" style="color: red !important;">KR / KW/H</p>
        </div>
    </div>





    <br />
    <div style="padding-left: 20px; padding-right: 20px;">
        <h4 class="text-dark text-center text-light">Test tekst, det her er bare for at teste. En test er en test er en test. En, to, tre, test den tekst. Teksttest. Bare tekst. Man kan ikke gå galt med tekst</h4>


        <table class="table text-light">
            <thead>
                <tr>
                    <th scope="col">Enhed</th>
                    <th scope="col" width="100px">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var device in UserDevices)
                {

                    <tr>
                        <td>
                            <a style="color: white;" href="/device/viewdevice/@device.Id">
                                @device.Name
                            </a>
                        </td>
                        @if (device.FunctionalStatus == XPowerClassLibrary.Device.Enums.DeviceFunctionalStatus.Off)
                        {
                            <td style="color:red">Slukket</td>
                        }
                        else if (device.FunctionalStatus == XPowerClassLibrary.Device.Enums.DeviceFunctionalStatus.On)
                        {
                            <td style="color:lawngreen">Tændt</td>
                        }
                        else
                        {
                            <td>Status ukendt</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-outline-success btn-sm" @onclick="GoToCreateDevice" style="width: 100%;">Tilføj Enhed</button>
    </div>
    <br />
</div>
<br />