.btn-outline-success {
    color: var(--clr-success) !important;
    border-color: var(--clr-success) !important;
}

    .btn-outline-success:active,
    .btn-outline-success:hover {
        background-color: var(--clr-bg-success) !important;
        color: var(--clr-secondary) !important;
    }
