@import url('_root.css');
@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: #f7f6f6;
}

h2 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

a {
    position: relative;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    white-space: nowrap;
}

    a:before {
        content: "" !important;
        position: absolute !important;
        width: 50% !important;
        height: 2px !important;
        bottom: 0 !important;
        left: 0 !important;
        background-color: #fff !important;
        visibility: hidden !important;
        transform: scaleX(0) !important;
        transition: all 0.3s ease-in-out 0s !important;
    }

    a:hover::before {
        visibility: visible !important;
        transform: scaleX(1) !important;
    }


a.active::before {
    content: "" !important;
    position: absolute !important;
    width: 80% !important;
    height: 2px !important;
    bottom: 0 !important;
    left: 0 !important;
    background-color: #fff !important;
    visibility: visible !important;
    transform: scaleX(1) !important;
    transition: all 0.3s ease-in-out 0s !important;
}

a.active {
    color: #fff !important;
}

.bg-primary {
    background-color: rgba(68, 88, 120, 1) !important;
}

form label {
    color: #fff;
    padding: 0 0 .75rem 0;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* Hello */

#content {
    min-width: 500px;
    /*position: absolute;
    width: auto;
    height: auto;
    left: 560px;
    top: 254px;
    overflow: visible;*/
}

